.aboutContainer {
  display: flex;
  align-items: center;
}
.aboutTitle{
    text-align: center;
}
.credit{
  text-align: center;
  color:white;
  border: 1px solid lawngreen;
  padding: 2%;
}
.info{
  flex: 1;
  color:white;
  width: 50%;
}
.aboutImg{
  width: 25%;
  height: auto; 
  margin-right: 40px;
}