.aboutContainer {
  align-items: center;
}
.aboutTitle{
    text-align: center;
}
.credit{
  text-align: center;
  color:white;
  padding: 2%;
}
.creditContainer{
  display:flex;
  align-items: center;
}

.info{
  color:white;
  width: 50%;
}
.infoP {
  padding: 55px;
  margin-bottom: -70px;
  font-size: 20px;
  line-height: 35px;
}
.aboutImg{
  width: 25%;
  height: auto; 
  margin-left: 400px;
}