#home, #type-choice, #results, #payment, #price {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.invisible {
  display: none;
}
.horizontalNav {
  list-style: none;
  position: relative;
  left: 70%;
  display: flex;
  gap: 2%; /* Adjust the gap between items as needed */
}

.horizontalNav li {
  display: inline-block;
}
