/* Add this to your CSS file */
body {
  min-width: 820px;
}


#partlist, #home, .aboutContainer{
  background-image: url('../public/grad.png');
  background-color: rgba(255, 255, 255, 0.1); /* White color with 0.8 opacity */
  background-size: cover;
  background-attachment: fixed;  
}

.horizontalNav {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #282c34;
}

.logo {
  max-width: 100%; 
  height: 75px;
}

ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
  display: flex;
  position: relative;
  right: 20px;
  text-align: right;
}

li {
  margin-right: 20px; 
  font-weight: bold;
  font-size: 24x;
}

li:last-child {
  margin-right: 0; 
}

li a {
  color: white;
  text-decoration: none;
  padding: 12px 16px;
}

li a:hover {
  background-color: #111;
}

