.cardSize{
    height: auto;
    min-height: 100%;
    width: 60%;
    cursor: pointer;
    font-size: 12pt;
}
.cardSize:hover {
    background-color: lightgray;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }
.imgSize{
    height: 100%;
    width: 100%;
    display: block;
    margin: auto;
}