.checkLogo{
    position: absolute;
    height: 15%;
    width: 25%;
    top: 1%;
    left: 37%;
}
.checkChibi{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 1%;
    left: 67%;
}
.checkout{
    background-color:white;
    align-items: center;
    text-align: center;
    width: 100%;
    display: inline-block;
    border-radius: .2vw;
    padding-top: 60px;
    padding-bottom: 20px;
}
.content{
    align-items: center;
    text-align: center;
    width: 50%;
    display: inline-block;
    border-radius: .2vw;
    border: 2px solid black;
    padding-top: 10px;
    margin-top: 100px;
    padding-bottom: 20px;
    margin-bottom: -40px;
}
.creditImg{
    position: relative;
    width: 40%;
    height: 40%;
    left: 30%;
    display: block;
}
.checkout button{
    padding: 2px;
    font-size: 2vw;
}

.checkoutButton {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    margin-right: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 50px;
    color: white;
    background-color: #3498db;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
.checkoutButton:hover {
    background-color: white;
    color: #3498db;
}

input {
    cursor: pointer;
}
