.invisible {
    display: none;
  }
  
  #home, #typechoice {
    background-color: #282c34;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.homeChibi{
  display: inline-block;
  vertical-align: middle;
  z-index: -1;
}
.homeText{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.deviceImg{
  z-index: -2;
  display: inline-block;
  vertical-align:bottom;
  height: 100%;
  width: 100%;
}
.homeContainer {
  background-size: cover;
  background-attachment: fixed;
  background-color: greenyellow;
}

