body {
  min-width: 820px;
}

.invisible {
    display: none;
}
  
.homeChibi{
  display: inline-block;
  max-width: 33%;
  vertical-align: middle;
  z-index: -1;
}
.homeText{
  display: inline-block;
  color:white;
  vertical-align: middle;
  text-align: center;
  max-width: 33%;
  margin: auto;
}
.deviceImg{
  z-index: -2;
  vertical-align: bottom;
  right: 0;
  height: 40%;
  width: 33%;
  float: right;
}
.homeContainer {
  background-size: cover;
  background-attachment: fixed;
}
.homebutton {
  position:absolute;
  left:35%;
  top:60%;
  width:30%;
  font-size: 28px;
  display: inline-block;
  padding: 8px 8px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #ffffff;
  background-color: #3498db;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-width: 95px;
}

/* Button Hover Effect */
.homebutton:hover {
  background-color: #ffffff;
  color: #3498db;
}
