.invisible {
    display: none;
  }
  
.homeChibi{
  display: inline-block;
  vertical-align: middle;
  z-index: -1;
}
.homeText{
  display: inline-block;
  color:white;
  vertical-align: middle;
  text-align: center;
}
.deviceImg{
  z-index: -2;
  display: inline-block;
  vertical-align:bottom;
  height: 100%;
  width: 100%;
}
.homeContainer {
  background-size: cover;
  background-attachment: fixed;
}
.homebutton {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #ffffff;
  background-color: #3498db;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Button Hover Effect */
.homebutton:hover {
  background-color: #ffffff;
  color: #3498db;
}
