
.closeBtn{
    position: relative;
    top: 0%;
    left: 99%;
    background-color: beige;
    border: 2px solid red;
    color: red;
    padding: '15px 30px';
    font-Size: '18px';
    z-index: '1';
}

.modalBackground{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%; 
    height: 40%; 
    position: relative;
    z-index: '-1';
    opacity: 60%;
    
}
.modalForm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalHd{

    position: absolute;
    top: 2%;
    left: 45%;
    text-align: center;
    font-size: 3vw;
    z-index: '1';

}

.priceLabel{
    display: flex;
    position: absolute;
    top: 30%;
    left: 65%;
    font-size: 1vw;
    z-index: '1';
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 

}
.useLabel{
    display: flex;
    position: absolute;
    top: 50%;
    left: 65%;
    text-align: center;
    font-size: 1vw;
    z-index: '1';
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.storageLabel{
    display: flex;
    position:absolute;
    top: 70%;
    left: 65%;
    text-align: center;
    font-size: 1vw;
    z-index: '1';
}

.textInput{
    margin-top: 5px;
    padding: 5px;
    width: 80%;
    
}
.radioOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radioOptions input {
    margin-bottom: 5px;
}


.buildBtn{
    display: flex;
    position: absolute;
    height: 5%;
    width: 7.5%;
    top: 85%;
    left: 70%;
    text-align: center;
    font-size: .9vw;
    z-index: '1';
}
.buildForm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalHD{

    position: absolute;
    top: -4%;
    left: 25%;
    text-align: center;
    font-size: 3vw;
    z-index: '1';

}
.checkBtn{
    position: absolute;
    top: 90%;
    left: 90%;
    font-size: .8vw;
    z-index: '1';
}
