
.closeBtn{
    position: relative;
    top: 0%;
    left: 99%;
    background-color: beige;
    border: 2px solid red;
    color: red;
    padding: '15px 30px';
    font-Size: '18px';
    z-index: '1';
}
.bakingWindow{
    background-color: grey;
}
.modalBackground{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 40%; 
    height: 40%; 
    position: relative;
    z-index: '-1';
    opacity: 60%;
    
}
.modalForm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalHd{

    position: absolute;
    top: 2%;
    left: 52%;
    text-align: center;
    font-size: 3vw;
    z-index: '1';

}

.priceLabel{
    display: flex;
    position: absolute;
    top: 20%;
    left: 65%;
    font-size: 1vw;
    z-index: '1';
    flex-direction: column;
    align-items: center;
    text-align: center; 

}
.useLabel{
    display: flex;
    position: absolute;
    top: 48%;
    left: 65%;
    text-align: center;
    font-size: 1vw;
    z-index: '1';
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.typeLabel{
    display: flex;
    position: absolute;
    top: 35%;
    left: 65%;
    text-align: center;
    font-size: 1vw;
    z-index: '1';
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.storageLabel{
    display: flex;
    position:absolute;
    top: 61%;
    left: 65%;
    text-align: center;
    font-size: 1vw;
    z-index: '1';
}

.textInput{
    margin-top: 5px;
    padding: 5px;
    width: 80%;
    
}
.radioOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.radioOptions input {
    margin-bottom: 5px;
}


.buildBtn{
    display: flex;
    position: absolute;
    height: 4%;
    width: 6%;
    top: 85%;
    left: 70%;
    text-align: center;
    font-size: 1vw;
    z-index: '1';
}
.buildForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalHD{

    position: absolute;
    top: -4%;
    left: 33%;
    text-align: center;
    font-size: 3vw;
    z-index: '1';

}
.checkBtn{
    position: absolute;
    top: 90%;
    left: 90%;
    font-size: .8vw;
    z-index: '1';
}
.load{
    position: absolute;
    top: 40%;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 5px red;
    color: salmon;
    text-align: center;
    font-size: 2vw;
}
.loadImgContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;

  }
  
  .loadImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    object-fit: cover;
    
  }
  
  