.orderSize{
    display: flex;
    height: 100px;
    width: 100%;
    cursor: pointer;
    font-size: .8vw;
    border: .2px solid red;
    flex-direction: column;
}
.contentContainer span{
    padding-left: 10%;
}
.contentContainer{
    align-items: center;
    display: flex;
    padding: 12px 16px; 
    padding-left:10%;
}
.orderSize:hover {
    background-color: lightgray;
  }

.orderImg2{

    width: 75px;
    height: 75px; 
    padding:2px;
}

#compNameC,
#storageC,
#priceC {
  position: relative; /* Set position to relative */ 
}
#priceC {
    margin-left: auto; /* Push the price to the bottom */
    font-weight: bold; /* Make the price bold */
  }
