/* PartList.css */
body{
    background-image: url('../public/grad.png');
    background-color: rgba(255, 255, 255, 0.1); /* White color with 0.8 opacity */
}

h3 {
    color: white; /* Header text color */
    border-bottom: 2px solid white; /* Underline effect */
    padding-bottom: 8px;
    margin-bottom: 16px;
}
  
.section-links {
    display: flex;
    justify-content: space-around;
    background-color: #f8f9fa; /* Light background color */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}
  
.section-links a {
    text-decoration: none;
    cursor: pointer;
    color: #495057; /* Text color */
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
  
.section-links a:hover {
    background-color: #007bff; /* Hover background color */
    color: #fff; /* Hover text color */
}

.section-links a.active {
    background-color: #007bff; /* Active link color */
    color:white;
}

.part-container {
  height: 65vh;
  overflow-y: scroll;
}
  
  
  /* PartList.css */

.part-list {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
  
.part-list.fade-out {
    opacity: 0;
}
  
  